* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0ff;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 120px;
}

.back-arrow {
    font-size: 24px;
    margin-right: 20px;
    cursor: pointer;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.notifications {
    display: flex;
    flex-direction: column;
    gap: 15px;
    

}
.hospital-logo {
    text-align: left;
    padding: 111px;
}

.hospital-logo svg {
    width: 32px;
    height: 32px;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
}

.notification-card {
    background-color: #b4cff9;
    border-radius: 15px;
    padding: 25px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.notification-content {
    flex: 1;
}

.notification-content h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.notification-content p {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.time {
    font-size: 12px;
    color: #888;
    disp